{% extends 'layouts/layouts.html' %} {% load static %} {% block content %}

<link
    rel="stylesheet"
    href="https://cdn.datatables.net/2.1.2/css/dataTables.bootstrap5.css"
/>

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Movies List</h1>
                    <a href="{% url 'createmovies' %}">
                        <button type="button" class="btn btn-primary">
                            Add Movies
                        </button>
                    </a>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">

                </div>
                <!-- /.col -->
            </div>

            {% if messages %} {% for message in messages %}
            <div
                class="alert alert-success alert-dismissible fade show"
                role="alert"
            >
                <strong>success!</strong>{{ message }}
                <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            {% endfor %} {% endif %}

            <table id="example" class="table table-striped" style="width: 100%">
                <thead>
                    <tr>
                        <th>Movie Name</th>
                        <th>Genre</th>
                        <th>Banner</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in movies %}
                    <tr>
                        <td>{{movie.title }}</td>
                        <td>{{movie.genre.title }}</td>
                        <td>
                            <img class="img-fluid" src="{{ movie.banner.url }}" style="height:100px;">
                        </td>
                        <td>
                            <a href="{% url 'editmovies' movie.id %}">
                                <button
                                    type="button"
                                    class="btn btn-block btn-primary"
                                >
                                    Edit
                                </button>
                            </a>
                                <button
                                    type="button"
                                    class="btn btn-block btn-danger deleteuser"
                                    data-id="{{ movie.id }}"
                                    data-title="{{ movie.title }}"
                                >
                                    Delete
                                </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div
            class="modal fade"
            id="deleteModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            Delete Movies
                        </h5>
                        <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="post">
                         {% csrf_token %}
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                            >
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.2/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable("#example");
    </script>
    <script>
        $(document).ready(function () {
            $(".deleteuser").on("click", function () {
               var base_url = window.location.origin;
                var movieid = $(this).attr("data-id");
                var title = $(this).attr("data-title");
                var cnt = "do you want" + " " + title + " to Delete?";
                var action = base_url+"/deletemovies/" + movieid+'/';
                $("#deleteModal .modal-body").html(cnt);
                $("#deleteModal form").attr("action", action);
                $("#deleteModal ").modal("toggle");
            });
        });
    </script>

    {% endblock %}
</div>
